<footer class="site-footer" role="contentinfo">
  <div class="footer-inner-bottom wrapper">
    <div class="grid">
      <div class="grid__item large--one-third">
        <a class="mobile-to-top" href="#">{{ 'layout.footer.go_to_top' | t }}</a>
        <h4>Destiny Global, LLC</h4>
        <p class="copy">
          317 Sidney Baker Ste 400-282<br>Kerrville, TX 78028<br /><br />
          <span style="color:white;">p:</span> (866) 760-8255 <br /><br />
          <span style="color:white;">f:</span> (830) 225-1578
        </p>
      </div>
      <div class="grid__item large--one-third">
        <div class="social">
          <h4>{{ 'layout.footer.social_title' | t }}</h4>
          <ul>
             {% include 'social' %}
          </ul>
        </div>
      </div>
      <div class="grid__item large--one-third">
			  <h4><a href="http://www.danijohnson.com/contact"><i class="fa fa-envelope"></i>Contact Us</a></h4>
			  <p>Questions? Concerns? Our customer support team is waiting to help!</p>
			  <h4><a href="http://www.danijohnson.com/press"><i class="fa fa-newspaper-o"></i>Press Room</a></h4>
			  <p>Find frequently requested assets, kits, and more in our Press Room.</p>
        <div class="creds">
    			<!-- (c) 2005, 2015. Authorize.Net is a registered trademark of CyberSource Corporation -->
    			<div class="AuthorizeNetSeal" style="display: inline-block">
    				<script type="text/javascript" language="javascript">var ANS_customer_id="b85605ae-031b-485c-bdb6-587e183e9503";</script>
    				<script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
    			</div>
    			<!-- Better Business Bureau -->
    			<a target="_blank" id="bbblink" class="rbvtbum" href="http://www.bbb.org/southern-nevada/business-reviews/training-programs/call-to-freedom-intl-in-las-vegas-nv-73712#bbblogo" title="Call To Freedom Int'l, LLC, Training Programs, Las Vegas, NV" style="padding: 0px; margin: 0px;">
    				<img id="bbblinkimg" src="https://seal-southernnevada.bbb.org/logo/rbvtbum/call-to-freedom-intl-73712.png" width="120" height="85" alt="Call To Freedom Int'l, LLC, Training Programs, Las Vegas, NV">
    			</a>
    		</div>
      </div>
      <div class="clear"></div>
      <ul class="legal-links">
          <li>Copyright &copy; 2017 Destiny Global, LLC. {{ 'layout.footer.r' | t }}</li>
          <li><a href="http://www.danijohnson.com/terms-of-use/">{{ 'layout.footer.tandc' | t }}</a></li>
      </ul>
	  </div>
  </div>
</footer>
