<!-- MOBILE HEADER -->
<div class="mobile-header large--hide medium-down--show">
    <div class="mobile-search">
        <form action="/search" method="get" class="mobile-search-form" role="search">
          <input type="hidden" name="type" value="product">
          <input id="s" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="search-field" aria-label="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="btn icon-fallback-text search-submit"><i class="fa fa-search"></i></button>
          <a href="/" class="search-close"><i class="fa fa-close"></i></a>
        </form>
    </div>
    <button type="button" class="js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
      <i id="toggle-menu" class="fa fa-bars"></i>
    </button>
  	{% if request.host == 'shop.destinyglobal.com' %}
	  <a class="mobile-logo dg" href="https://destinyglobal.com"></a>
  	{% else %}
	  <a class="mobile-logo djc" href="{% if SN %}http://www.smarternetworker.com{% else %}http://www.danijohnson.com{% endif %}"></a>
  	{% endif %}
    <a href="/cart" class="js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
      <i id="toggle-profile" class="fa fa-user"></i>
    </a>
    <i id="toggle-search" class="fa fa-search"></i>
    <div class="clear"></div>
</div>

{% include 'nav-desktop' %}

<!-- Sticky Nav -->
<script>
    jQuery(window).scroll(function() {
      if( $(this).scrollTop() > $('#page-wrapper').offset().top ) {
        $("#stickynav").fadeIn();
      } else {
        $("#stickynav").fadeOut();
      }
    });
</script>

<!-- MAIN NAVIGATION SCRIPTS + MOBILE MENU TOGGLES -->
<script>
jQuery(document).ready( function(){
    // Let's make sure we know where we are
    $(".menu-main-menu-2018 a[href='/']").addClass("active");
    // Toggle SearchBar
    $(".searchtoggle").click(function(e) {
      var searchform = $(this).parent().find("form");
      e.preventDefault(),
      searchform.fadeIn(),
      setTimeout(function() {
        searchform.find("#s").focus()
      }, 301)
    });
    $(".search-close").click(function(e) {
      e.preventDefault(),
      $(this).parent().fadeOut()
    });
    // Mobile Sub-Menus
    $(".mobile-menu .menu-item-has-children > a, #mobile-profile-menu .menu-item-has-children > a").click(function(e) {
      e.preventDefault(),
      $(this).parent().toggleClass("open"),
      $(this).parent().find(".sub-menu").toggleClass("open")
    })
    // Mobile Search
    $("#toggle-search").click(function(e) {
      e.preventDefault(),
      $(".mobile-header").toggleClass( "dropped" )
    });
    // Close the Mobile Header when clicking outside of it
    $(document).on('click', function(event) {
      if (!$(event.target).closest('.mobile-header').length) {
        if ( $(".mobile-header").hasClass( "dropped" ) ) {
          $(".mobile-header").toggleClass( "dropped" )
        }
      }
    });
    // Nav Overflow
    window.onresize = navigationResize;
    navigationResize();
});
function navigationResize() {
  $('.menu-main-menu-2018').each(function(){
    $(this).append($('#overflow > li'));

    var $navItemMore = $(this).parent().find('.more'),
    		$navItems = $(this).parent().find('.menu-main-menu-2018 > li'),
        navItemMoreWidth = $navItemMore.width(),
        windowWidth = $(this).width(),
        navItemWidth = 0,
        navItemMoreLeft, offset, navOverflowWidth;

    $navItems.each(function() {
      navItemWidth += $(this).width();
    });

    navItemWidth > windowWidth ? $navItemMore.show() : $navItemMore.hide();

    while (navItemWidth > windowWidth) {
      navItemWidth -= $navItems.last().width();
      $navItems.last().prependTo('#overflow');
      $navItems.splice(-1,1);
    }
  });
}
</script>
