<li>
  <a href="http://facebook.com/danijohnsonlive"><i class="fa fa-facebook"></i></a>
</li>
<li>
  <a href="http://twitter.com/danijohnsonlive"><i class="fa fa-twitter"></i></a>
</li>
<li>
  <a href="http://instagram.com/danijohnsonlive"><i class="fa fa-instagram"></i></a>
</li>
<li>
  <a href="http://youtube.com/danijohnsonlive"><i class="fa fa-youtube-play"></i></a>
</li>
