<!-- /templates/page.specials.liquid -->
<div class="hero"></div>
<div class="row intro">
    <p>For many, the holiday season is the most exciting time of the year! This year, remove the stress of knowing which gifts to give and how much you can "afford'' to spend. And, avoid waking up January 2nd with a holiday spending hangover, buried under *more* debt and *more* weight.</p>
    <div class="grid">
        <div class="grid__item large--one-half">
            <div class="testimonial-single row">
                <div class="inner narrow">
                    <div class="single" id="">
                        <div class="testimonial">
                            <div class="text-wrapper">More than you think. This training is so much more than you think. In the first week of using it I was able to earn back my investment in the training by implementing just 1 thing I learned. I am getting a VISION FOCUS and DIRECTION for my life, family and future!
                                <span class="attribution">- Mary C on <em>Time Secrets</em></span>
                            </div>
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="grid__item large--one-half">
            <div class="testimonial-single row">
                <div class="inner narrow">
                    <div class="single" id="">
                        <div class="testimonial">
                            <div class="text-wrapper">
                                My relationships with family and friends were restored through deep conversations and understanding, my business grew immensely and quadrupled my income! I finally truly like & understand people and They don’t get on my nerves like before!
                                <span class="attribution">- Lauren M on <em>GEMS Mastery</em></span>
                            </div>
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
<div class="grid gifts">
    <div class="grid__item large--two-thirds">
        <h1>This year, enjoy the fullness of the holidays, stress-free and SAVE!</h1>
    </div><div class="clear"></div>
    <div class="grid__item large--two-thirds">
      <div class="grid">
          <div class="grid__item section-blue-container large--one-half"><div class="section-blue"><i class="fa fa-gift"></i><h3>Our Gift to You:</h3><p>Make this season, next year and beyond full of joy and satisfaction. <strong>We've selected our best-selling products and knocked <span>25% off</span></strong></p>
          </div><a class="offer-link" href="#offer1">Jump to This Offer</a></div>
          <div class="grid__item section-blue-container large--one-half"><div class="section-blue"><i class="fa fa-gift"></i><h3>Your Gift to Others:</h3><p>We have the perfect gifts for your loved ones! <strong>Order 3 or More of any of Dani's books for $10 each and get<span>FREE SHIPPING!*</span></strong></p>
          </div><a class="offer-link"href="#offer2">Jump to This Offer</a></div>
          <div class="clear"></div>
      </div>
    </div><!-- end col-8 -->
    <div class="clear"></div>
</div>
<main class="promo-container" role="main">

<div class="grid book-offer" id="offer2">

  <div class="grid__item large--one-whole">

    <div class="offer-img">
      <img src="https://www.danijohnson.com/wp-content/assets/promo/blackfriday/offer2.png">
    </div>

    {% for product in collections.holiday-specials-books.products %}

      {% include 'product-holiday-grid-book' %}

    {% endfor %}

  </div>

</div>

<p class="disclaimer" style="text-align: center;">*FREE SHIPPING offer is not compatible with 25% OFF offer. To take advantage of both, please use separate carts.</p>

<div class="grid row" style="margin-left: 50px; border-top: 1px solid #3ca7d0; border-bottom: 1px solid #3ca7d0; margin-top: 50px; margin-bottom: 40px; background: rgba(255,255,255,0.5);">
  <div class="grid__item large--one-third">
      <div class="testimonial-single row">
          <div class="inner narrow">
              <div class="single" id="">
                  <div class="testimonial">
                      <div class="text-wrapper">Prior to getting started with War on Debt I was drowning in debt. I’ll admit that at first I was EXTREMELY skeptical of the program because of how INEXPENSIVE it was. That was the BEST decision I ever made. Over the past 22 months, I’ve been able to payoff over $250,000 of debt, hold $365,000 of income producing assets, and generate a savings of over $7,000
                          <span class="attribution">- Mike A on <em>War on Debt</em></span>
                      </div>
                  </div>
              </div><div class="clear"></div>
          </div>
      </div>
  </div>
  <div class="grid__item large--one-third">
      <div class="testimonial-single row">
          <div class="inner narrow">
              <div class="single" id="">
                  <div class="testimonial">
                      <div class="text-wrapper">I Became A Closing Champ. Prior to getting started with Dani’s Prospecting and closing scriptbook and supplemental, I was LOST in my business! I had no idea what to say and the scriptbooks changed ALL of that! After starting to use the scriptbooks I closed 3 business partners in one week and got 13 people started on my product in one month! This is after STRUGGLING to get ANY business partners to even take a look. It’s amazing!
                          <span class="attribution">- Porsche P on <em>Prospecting and Closing Scriptbook</em></span>
                      </div>
                  </div>
              </div><div class="clear"></div>
          </div>
      </div>
  </div>
  <div class="grid__item large--one-third">
      <div class="testimonial-single row">
          <div class="inner narrow">
              <div class="single" id="">
                  <div class="testimonial">
                      <div class="text-wrapper">I starting applying every chapter and in 2 weeks things are really different. My 12-year-old does her room with a better attitude and we came up with a little business idea: she will be baking muffins and I will help her sell them in our neighbourhood. This book was the best and I am so glad a friend recommended to me! :-)
                          <span class="attribution">- Magaly on <em>Grooming the Next Generation for Success</em></span>
                      </div>
                  </div>
              </div><div class="clear"></div>
          </div>
      </div>
  </div>
</div>

<div class="grid discount-offer" id="offer1">

  <div class="grid__item large--one-whole">

    <div class="offer-img">
      <img src="https://www.danijohnson.com/wp-content/assets/promo/blackfriday/offer1_b.png" style="margin: 0 auto;">
    </div>

    {% for product in collections.holiday-specials.products %}

      {% include 'product-holiday-grid-item' %}

    {% endfor %}

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>

<div class="grid row" style="margin-left: 50px; border-top: 1px solid #3ca7d0; border-bottom: 1px solid #3ca7d0; margin-top: 50px; margin-bottom: 40px; background: rgba(255,255,255,0.5);">
  <div class="grid__item large--one-half">
      <div class="testimonial-single row">
          <div class="inner narrow">
              <div class="single" id="">
                  <div class="testimonial">
                      <div class="text-wrapper">This book is completely changing my life! It changes the way I think and my everyday relationships! Thank you.
                          <span class="attribution">- Jess B on <em>First Steps to Success</em></span>
                      </div>
                  </div>
              </div><div class="clear"></div>
          </div>
      </div>
  </div>
  <div class="grid__item large--one-half">
      <div class="testimonial-single row">
          <div class="inner narrow">
              <div class="single" id="">
                  <div class="testimonial">
                      <div class="text-wrapper">I had a hard time grasping what God expected from me when it came to business and life. After reading Dani’s book I got the affirmations I needed from scripture to be more secure in my business goals. It literally changed my life and set me on a new path! It could do the same for you too!
                          <span class="attribution">- Erika V on <em>Spirit Driven Success</em></span>
                      </div>
                  </div>
              </div><div class="clear"></div>
          </div>
      </div>
  </div>
</div><div class="clear"></div>

</main>

<style>
.row { box-sizing: border-box; }
.intro p { font-size: 1.25em; text-align: center; font-style: italic; max-width: 42em; margin: 0 auto 5px; font-weight:300; line-height: 1.5; border-bottom: 1px solid #e9e9e9; padding-bottom: 35px; }
.intro p:first-line { font-size: 1.5em; color: #1177a3; font-weight: 500; }
.section-blue { background-color: #3ca7d0; padding: 30px 30px 15px; text-align: center; border-radius: 25px; margin:0; }
.section-blue h3 { color: white !important; font-size: 2em; text-align: center; margin: 0 auto; }
.section-blue p { color: white; font-weight: 300; text-align: center; }
.section-blue i {
    background: white;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    color: #3ca7d0;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
}
.section-blue i + p, .section-blue-border i + p { display: none }
.gifts { background-image: url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/redgift.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; max-width: 100%;     padding-top: 100px; padding-bottom: 100px; margin: 0; }
.gifts .col-6 { padding: 0 !important; }
.gifts .col-8 { margin-left: 2.920962199% !important; }
.gifts h1 { text-align: center; font-size: 3em; max-width: 20em; margin: 0 auto 50px; color: white; }
.gifts p { text-align: center; }
.gifts p span {
    font-size: 3em;
    display: block;
    margin: 0;
    line-height: 1em;
    text-align: center;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
}
.gifts a, .gifts a:link, .gifts a:visited { color: white; text-decoration: underline; }
.gifts a:hover, .gifts a:active, .gifts a:focus { text-decoration: none; }
.hero {
    background-image:url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/header_pop.jpg');
    height:0;
    padding-bottom:30%;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
.offer-link { display: block; width: 100%; text-align: center; margin-bottom: 20px; }
@media only screen and (max-width: 768px) {
    .hero {
        background-image:url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/header_mobile_narrow.jpg');
        padding-bottom: 110%;
        background-size: 140%;
    }
    .intro p { font-size: 1em; padding: 0 15px; margin: -20px auto 20px; }
    .gifts { padding-top: 30px; padding-bottom: 10px; }
    .gifts h1 { font-size: 1.75em; margin-bottom: 50px; }
    .gifts .col-8 { margin-left: 0 !important; }
    .section-blue { padding: 20px 10px 1px; }
    .grid__item.section-blue-container { padding-left: 30px; padding-right: 0; }
}
.offer-img { width: 100%; }
.promo-container { width: 100%; background-image: url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/whitechristmas.jpg'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; text-align: center; padding-right:50px; }
.book-offer h1 { font-family: abril display; font-size: 2em; text-shadow: 0 -1px 0 rgba(255,255,255,1); margin-bottom: 10px; line-height: 1em; }
.book-offer .shopify-buy-frame--product { text-align: center; margin: 0; max-width: 100% !important;}
.book-offer .offer-img img { margin: 0 auto; position: relative; top: -50px; }
.promo-container .row { max-width: 100%; }
.promo-product { text-align:center; } .narrow { max-width: 980px; margin: 0 auto; }
.promo-product h1 { font-family: abril display;
    font-size: 2.5em;
    text-align: left;
    text-shadow: 0 -1px 0 rgba(255,255,255,1);
    margin-bottom: 10px;
    line-height: 1em;
    margin-top: 50px;
    color: #1177a3;
  }
.discount-offer { padding-bottom: 50px; }
.discount-offer .promo-product:nth-child(2n) {float:none;}
.promo-product p { font-size: 1.1em; font-weight: 300; color: #000000; margin-bottom: 0; text-align: left; }
.promo-product img { max-width: 500px; text-align: right; border-radius: 10px; width: 100%; position: relative; }
.promo-product .img-wrapper:after { content:""; display: none; height: 100px; width: 100px; background-image: url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/bow.png'); position: absolute; top: 20%; left: 20%; background-size: cover; }
.sale-table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
  width: 100%;
  padding: 0;
  text-align: left;
  border: 1px solid #1177a3;
  align-items: center;
}
.sale-table-row.header { background: #1177a3; color: white; text-align: left; }
.sale-table-row.header + .sale-table-row { height: 50px; }
.sale-table-row .text {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  padding-left: 15px;
}
.sale-table-row .text.old { color: #1177a3; position: relative; font-size: 1.5em; }
.sale-table-row .text.old:after { content:""; display: block; width: 40%; border: 1px solid #1177a3; position: absolute; bottom: .4em; font-weight: 300; }
.sale-table-row .text.new { color: #eb2933; font-size: 2em; }
.sale-table.sold-out .sale-table-row { text-align:center; }
.sale-table.sold-out .sale-table-row:not(.header) { font-size: 2em; }
.promo-product .btn-wrapper { float: left; margin: 0 auto 15px; padding: 16px 0 0; width: 100%; font-weight: 700; }
.promo-product .btn-wrapper span { color: #ff8937; }
.promo-product .shopify-buy-frame--product { max-width: 240px !important; float:left; }
.btn.blue { background: #3ca7d0 !important; } .btn { margin: 5px; text-transform: uppercase; font-weight: 300; width: 165px; }
@media only screen and (max-width: 768px) {
    .grid__item { padding-left: 20px; padding-right: 20px;}
    .book-offer .offer-img img { max-width: 130%; margin-left: -15% !important; top: 0; }
    .book-offer h1 { font-size: 1.75em; margin: 10px; }
    .promo-product { padding: 0 !important; margin-bottom: 50px; }
    .promo-product .col-6 { margin-bottom: 0 !important; }
    .promo-product h1 { text-align: center; font-size: 1.75em; margin: 20px auto 0; }
    .promo-product .img-wrapper:after { left: 0; top: auto; bottom: 20%; }
    .promo-product .price { border: 1px solid white; }
    .promo-product .btn-wrapper { text-align: center; margin: 0; width: 100%; padding-bottom: 0; padding-top: 0; }
    .promo-product .btn-wrapper span { display: inline-block; }
    .promo-product .shopify-buy-frame--product { max-width: 100% !important; }
    .promo-container { padding-right: 0 !important;}
    .book-offer, .discount-offer { margin: 0 !important; padding: 0 !important; }
    .discount-offer .promo-product:nth-child(2n) {float:left;}
}
.sold-out .btn-wrapper { text-align: center; font-size: 1.5em; color: #ff8937; }
/* ///////////////////////////////////// */
/* ///     TESTIMONIAL SHORTCODE     /// */
/* ///////////////////////////////////// */
*[class*="testimonial-"] {
  background-repeat: repeat, no-repeat !important;
  background-position: top left, top center !important;
  background-size: auto, cover !important; }
  *[class*="testimonial-"] .testimonial {
    font-weight: 400;
    margin: 40px; }
    *[class*="testimonial-"] .testimonial .img-wrapper {
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    *[class*="testimonial-"] .testimonial .attribution {
      width: 100%;
      display: block;
      font-weight: 300; }
.testimonial-slider .testimonial {
  background: #3ca7d0;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px; }
  .testimonial-slider .testimonial .img-wrapper {
    float: left;
    margin-right: 20px; }
  .testimonial-slider .testimonial .attribution {
    text-align: right; }
.testimonial-single .testimonial {
  text-align: center;
  padding: 0; }
  .testimonial-single .testimonial .img-wrapper {
    max-height: 150px;
    max-width: 150px;
    border-radius: 75px;
    margin: 0 auto 15px;
    display: block; }
  .testimonial-single .testimonial .text-wrapper {
    display: block;
    text-align: center;
    color: #3ca7d0;
    line-height: 1.5em; }
  .testimonial-single .testimonial .attribution {
    color: #404040; }
.testimonial-alt .testimonial {
  padding: 40px; }
.testimonial-alt .testimonial:nth-child(2n) .img-wrapper {
  float: right;
  margin-left: 20px; }
.testimonial-alt .testimonial:nth-child(2n) .text-wrapper {
  text-align: right; }
.testimonial-alt .testimonial:nth-child(2n-1) .img-wrapper {
  float: left;
  margin-right: 20px; }
</style>
