<!-- /templates/page.specials-expired.liquid -->
<div class="content-wrapper">
    <h1 style="margin-top:100px;">This Offer Has Expired</h1>
    <h4>Don't miss out on another great offer!  To become an INSIDER and get notified first, <a href="http://www.danijohnson.com/insider">Click Here.</a></h4>
    <div style="text-align:center;"><a class="btn big-ass-button" href="https://shop.danijohnson.com">Go to the Shop</a></div>
</div><div class="clear"></div>
<style>
.member-nav, .entry-header { display: none; }
.content-wrapper { padding: 0 0 200px !important; float: left; width: 100%; background-image: url('https://www.danijohnson.com/wp-content/assets/promo/blackfriday/whitechristmas.jpg'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; text-align: center; }
p.big-ass-button-wrapper { text-align: center; }
.big-ass-button { font-weight: 700;
    font-size: 3em;
    padding: 20px 40px;
    border-radius: 10px;
    white-space: nowrap;
    width: auto;
    margin: 20px auto;
    position: relative;}
@media only screen and (max-width: 768px) {
    .big-ass-button {
    font-size: 2em;
    padding: 20px; }
    .content-wrapper h4 { margin: 0 20px;
    line-height: 1.5em;
    color: #000000; }
}
</style>
